#character {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 40px;
  pointer-events: none;
  transition: transform 0.1s linear;
  z-index: 9999;
}








#container {
  display: flex;
  justify-content: center;
}

#search-box {
  top: 15%;
  left: 10%;
  width : 450px;
  gap: 10px;
  z-index: 999;
}
#search-input {
  width: 300px;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

#search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f8f858;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#search-results {
  position: absolute;
  top: 20%;
  left: 10%;
  margin: 20px auto;
  padding: 20px;
  width: 50%;
  max-width: 400px;
  background-color: #333;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  display: none;
  font-size: 18px;
}









.table-container0 {

}


.table-container {
  width: 50em;
  height: 35em;
  border: 2px solid orange;
  padding: 20px;
  background-color: #525252;
  border-radius: 8px;
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.table-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.table-column .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3a3a3a;
  padding: 8px 12px;
  width: 160px;
  border-radius: 4px;
}

.table-column .row input {
  width: 20px;
  height: 20px;
  background-color: yellow;
  border: 1px solid #444;
  border-radius: 2px;
}

.header {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}






.table-container2 {
  width: 50em;
  height: 20em;
  border: 2px solid orange;
  padding: 20px;
  background-color: #525252;
  border-radius: 8px;
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  margin-Top: 1em;
}

.table-container2 thead {
  background-color: #212121;
}















#fixed {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  z-index: 1000;
}

#fixed img {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

#popup {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 10px;
  width: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  z-index: 999;
}










#Button {
  padding-left: 470px;
  padding-top: 20px;
}



#Button1 {
  padding: 15px 30px;
  background-color: #ffcc00;
  color: #212121;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease;
}
#Button1:hover {
  background-color: #E6B864;
}


#Button2 {
  padding: 15px 30px;
  background-color: #ffcc00;
  color: #212121;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease;
}

#Button2:hover {
  background-color: #E6B864;
}		  