
#character {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 40px;
  pointer-events: none;
  transition: transform 0.1s linear;
  z-index: 9999;
}









#crain {
  height : 49em;
  position: fixed;
  left: 50%;
  top : 15%
  z-index: 9998;
}










.scroll-text {
	position: fixed;
  z-index: 10;
	top: 18%;
	left: 30%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.scroll-text2 {
	position: fixed;
  z-index: 10;
	top: 55%;
	left: 35%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
.scroll-text3 {
	position: fixed;
  z-index: 10;
	top: 72%;
	left: 31%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.scroll-text4 {
  position: fixed;
  z-index: 10;
  top: 18%;
  left: 10%;
  transform: translateX(-100%);
  white-space: nowrap;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  opacity: 0;
}

.scroll-text5 {
  position: fixed;
  z-index: 10;
  top: 30%;
  left: 10%;
  transform: translateX(-100%);
  white-space: nowrap;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  opacity: 0;
}


.scroll-text6 {
  position: fixed;
  z-index: 10;
  top: 40%;
  left: 10%;
  transform: translateX(-100%);
  white-space: nowrap;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  opacity: 0;
}

.scroll-text7 {
  position: fixed;
  z-index: 10;
  top: 56%;
  left: 10%;
  transform: translateX(-100%);
  white-space: nowrap;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  opacity: 0;
}








#scrollImage {
  position: absolute;
  margin-top: 1950px;
  z-index: 9998;
}


#scrollImage2 {opacity: 0; transition: opacity 1s ease; position: fixed; z-index:20; top: 20%; left: 10%;}







  #Button1 {
    position: fixed;
    bottom: 100px;
    right: 1000px;
    padding: 15px 30px;
    background-color: #ffcc00;
    color: #212121;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: background-color 0.3s ease;
  }
  #Button1:hover {
    background-color: #E6B864;
  }
  #Button2 {
    position: fixed;
    bottom: 100px;
    right: 750px;
    padding: 15px 30px;
    background-color: #ffcc00;
    color: #212121;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: background-color 0.3s ease;
  }

  #Button2:hover {
    background-color: #E6B864;
  }		  


  #Button3 {
    position: fixed;
    top: 16%;
    left: 20%;
    padding: 15px 30px;
    background-color: #ffcc00;
    color: #212121;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: background-color 0.3s ease;
    opacity: 0; transition: opacity 1s ease; position: fixed; z-index:8888;
  }
  #Button3:hover {
    background-color: #E6B864;
  }
  #Button4 {
    position: fixed;
    top: 16%;
    left: 35%;
    padding: 15px 30px;
    background-color: #ffcc00;
    color: #212121;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: background-color 0.3s ease;
    opacity: 0; transition: opacity 1s ease; position: fixed; z-index:8888;
  }

  #Button4:hover {
    background-color: #E6B864;
  }