{% extends 'base.html' %}

{% block title %}Test 페이지{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/GG_001_main.css') }}">

{% endblock %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<img id="crain" src="/static/img/crain.png" alt="crain"/>






<h1 class="scroll-text" id="scrollText1" style="font-size: 8vw; color: #FEBC01; line-height: 0.9;">
  Garbage<br>Guard
</h1>
<h1 class="scroll-text2" id="scrollText2" style="font-size: 4vw; color: white;">건설현장 폐기물<br>똑똑하게 처리하자</h1>
<h1 class="scroll-text3" id="scrollText3" style="font-size: 2vw; color: white;">AI가 인식하고 탄소를 계산해드립니다</h1>




<h3 class="scroll-text4" id="scrollText4" style="font-size: 2.5vw; color: #FEBC01;"><a style="font-size: 4vw;">왜</a> 이 서비스가 필요한가요?</h3>
<h3 class="scroll-text5" id="scrollText5" style="font-size: 1.5vw; color: white;">건설 산업의 폐기물과 탄소 문제, 지금 해결해야 할 때입니다.</h3>
<img class="scroll-text6" id="scrollText6" src="/static/img/why.png" alt="why"/>
<h3 class="scroll-text7" id="scrollText7" style="font-size: 1.5vw; color: white;">전 세계 폐기물의 38%는 건설현장에서 발생합니다. <br>
                                                                                그 중 상당수는 재활용되지 않고 매립 또는 소각되며 막대한 탄소를 배출합니다.<br>
                                                                                저희 Garbage Guard는 지속 가능한 건설 산업을 만들어가는데 기여하고자 합니다.</h3>


<img id="scrollImage" src="/static/img/3P2.png" alt="New Image" >


<img id="scrollImage2" src="/static/img/3P3.png" alt="New Image" >


<div id="buttons">
  <button id="Button1" onclick="location.href='/upload/waste_disposal'">사진 업로드 시작</button>
  <button id="Button2" onclick="location.href='{{ url_for('csr.show_csr') }}'">현장 등록하기</button>
</div>



<div id="buttons2">
  <button id="Button3" onclick="location.href='/upload/waste_disposal'">사진 업로드 시작</button>
  <button id="Button4" onclick="location.href='{{ url_for('csr.show_csr') }}'">현장 등록하기</button>
</div>
<!-- JS 연결 -->
<script type="text/javascript" src="{{ url_for('static', filename='js/GG_001_main.js') }}"></script>

{% endblock %}