<!DOCTYPE html>
<html>
<head>
	<title>GarbageGuard - AI 기반 건설 폐기물 관리 서비스</title>
	<meta charset="utf-8">
	<meta name="author" content="GarbageGuardCreatelift">
	<link rel="stylesheet" href="/static/css/GG_006_createlift.css" />

</head>
<body>
	<nav id="menubar">
	  <div class="center-box">
		<div id="logo">
		  <a href="">
			<img src="logo.png" alt="Logo" width="150" />
		  </a>
		</div>

		<div id="menu1">
		  <ul>
			<li><a href="/">Main</a></li>
			<li class="menu-waste">
			  <a href="/waste_disposal">Waste disposal</a>
			  <div class="submenu">
				<a href="/construction_site_registration">Construction site registration</a>
			  </div>
			</li>
			<li id="STORE"><a href="">Analytics and Statistics</a></li>
			<li id="RESPONSIBILITY"><a href="Create_lift">Create lift</a></li>
		  </ul>
		</div>
	  </div>
	</nav>





	<div id="character">✨</div>















	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<div id="container">

	<div id="search-box">
	    <input type="text" id="search-input" placeholder="건설현장이름을 입력하세요" />
	    <button id="search-button">검색</button>
	</div>
	<div id="search-results">sdfdsfs</div>
























	<!-- <button id="check-all-button">모두 체크하기</button> -->


	<div class="table-container0">
	<div class="table-container">
    <div class="table-column">
      <div class="header">적합여부</div>
      <div class="row">1. 적합 기준 <input type="checkbox"></div>
      <div class="row">2. 적합 기준 <input type="checkbox"></div>
      <div class="row">3. 적합 기준 <input type="checkbox"></div>
      <div class="row">4. 적합 기준 <input type="checkbox"></div>
      <div class="row">5. 적합 기준 <input type="checkbox"></div>
      <div class="row">6. 적합 기준 <input type="checkbox"></div>
      <div class="row">7. 적합 기준 <input type="checkbox"></div>
      <div class="row">8. 적합 기준 <input type="checkbox"></div>
      <div class="row">9. 적합 기준 <input type="checkbox"></div>
      <div class="row">0. 적합 기준 <input type="checkbox"></div>
    </div>
    <div class="table-column">
      <div class="header">적합여부</div>
      <div class="row">1. 적합 기준 <input type="checkbox"></div>
      <div class="row">2. 적합 기준 <input type="checkbox"></div>
      <div class="row">3. 적합 기준 <input type="checkbox"></div>
      <div class="row">4. 적합 기준 <input type="checkbox"></div>
      <div class="row">5. 적합 기준 <input type="checkbox"></div>
      <div class="row">6. 적합 기준 <input type="checkbox"></div>
      <div class="row">7. 적합 기준 <input type="checkbox"></div>
      <div class="row">8. 적합 기준 <input type="checkbox"></div>
      <div class="row">9. 적합 기준 <input type="checkbox"></div>
      <div class="row">0. 적합 기준 <input type="checkbox"></div>
    </div>
    <div class="table-column">
      <div class="header">적합여부</div>
      <div class="row">1. 적합 기준 <input type="checkbox"></div>
      <div class="row">2. 적합 기준 <input type="checkbox"></div>
      <div class="row">3. 적합 기준 <input type="checkbox"></div>
      <div class="row">4. 적합 기준 <input type="checkbox"></div>
      <div class="row">5. 적합 기준 <input type="checkbox"></div>
      <div class="row">6. 적합 기준 <input type="checkbox"></div>
      <div class="row">7. 적합 기준 <input type="checkbox"></div>
      <div class="row">8. 적합 기준 <input type="checkbox"></div>
      <div class="row">9. 적합 기준 <input type="checkbox"></div>
      <div class="row">0. 적합 기준 <input type="checkbox"></div>
    </div>
  	</div>


	<div class="table-container2">
	  <table border="0">
	    <caption></caption>
	    <thead>
	      <tr>
	        <th>1</th><th>2</th><th>1</th><th>1</th><th>1</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr><td>1번데이터</td><td>탄소배출량</td><td>1번데이터</td><td>1번데이터</td><td>1번데이터</td></tr>
	      <tr><td>1번데이터</td><td>폐기물 종류 양</td><td>1번데이터</td><td>1번데이터</td><td>1번데이터</td></tr>
	      <tr><td>1번데이터</td><td>2번데이터</td><td>1번데이터</td><td>1번데이터</td><td>1번데이터</td></tr>
	      <tr><td>1번데이터</td><td>2번데이터</td><td>1번데이터</td><td>1번데이터</td><td>1번데이터</td></tr>
	      <tr><td>1번데이터</td><td>2번데이터</td><td>1번데이터</td><td>1번데이터</td><td>1번데이터</td></tr>
	      <tr><td>1번데이터</td><td>2번데이터</td><td>1번데이터</td><td>1번데이터</td><td>1번데이터</td></tr>
	      <tr><td>1번데이터</td><td>2번데이터</td><td>1번데이터</td><td>1번데이터</td><td>1번데이터</td></tr>
	    </tbody>
	  </table>
	</div>


	<div id="Button">
		<button id="Button1">EXCEL 출력하기</button>
		<button id="Button2">PDF 출력하기</button>
	</div>
	</div>

	</div>







	<div id="fixed">
	  <img src="what.png" id="popup-btn" alt="info icon">
	</div>

	<div id="popup">
	  <br>설명서
	</div>







  <script type="text/javascript" src="/static/js/GG_006_createlift.js">
  </script>



	<header align="center">
	</header>
	<footer>만든이 : 권태희</footer>

</body>

</html>